* {
    margin: 0;
    padding: none;
}

.hp {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.player {
 margin: 1em;
 color: black;
 width: 25%;
 height: 2rem;
 background-color: chartreuse;
 
}


.hpbarreplayer {
    background-color: yellowgreen;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.monster {
    margin: 1em;
    color: rgb(0, 0, 0);
    width: 25%;
    height: 2rem;
    background-color:rgb(187, 12, 12);
}

.hpbarremonster {
    background-color: yellowgreen;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.start {
    background: green;
    width: 5%;
    height: 2rem;
    border-radius: 2vh;
}

.attack{
    background: red;
    width: 25%;
    height: 2rem;
    border-radius: 2vh;

}

.specialAttack {
    background: rgb(245, 245, 171);
    width: 30%;
    height: 2rem;
    border-radius: 2vh;

}

.heal {
    background: yellowgreen;
    width: 25%;
    height: 2rem;
    border-radius: 2vh;

}

.giveUp {
    background: brown;
    width: 30%;
    height: 2rem;
    border-radius: 2vh;

}

.log {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

li {
    display: flex;
    justify-content: center;
}
